@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: Work Sans;
}

/* navbar start */
.nav-hero-section {
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style: none;
    margin-left: 30px;
}

.nav-list a {
    text-decoration: none;
    color: #424242;
}

/* resposive navbar */
@media screen and (max-width: 576px) {
    .nav-hero-section {
        height: 600px;
        background: rgba(255, 144, 14, 0.1);
    }

    .navbar {
        display: grid;
        text-align: center;
        padding: 0px;
        justify-content: center;
    }

    .nav-list {
        display: block;
        padding: 0px;
    }

    .logo {
        text-align: center;
    }

    .nav-list li {
        list-style: none;
        margin-left: 0px;
    }

}

/* navbar Finished */

/* hero section start */
.hero-section {
    text-align: center;
}

.hero-text {
    padding: 10px 400px;
    margin: 30px 0px;

}

.hero-text h1 {
    font-size: 64px;
    padding: 10px 0px;
}

.hero-text p {
    font-size: 16px;
    padding: 10px 150px;
}

.button-color {
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 30px;
}

.hero-img img {
    width: 100%;
    max-width: fit-content;
    height: auto;
    padding-top: 10px;
}

/* responsive hero section */
@media screen and (max-width: 576px) {
    .hero-section {
        text-align: center;
    }

    .hero-text {
        padding: 0px;
        margin: 0px;

    }

    .hero-text h1 {
        font-size: 30px;
        padding: 10px 0px;
    }

    .hero-text p {
        font-size: 13px;
        padding: 10px 50px;
    }

    .hero-img img {
        width: 100%;
        max-width: fit-content;
        height: auto;
        padding-top: 10px;
    }
}

/* hero section end */